<http://example.org/resource/country/%7B%3A%3AHeiz%C3%B6lr%C3%BCcksto%C3%9Fabd%C3%A4mpfungsventil%3A%3A%7D> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://example.org/class/Country> <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/country/%7B%3A%3AHeiz%C3%B6lr%C3%BCcksto%C3%9Fabd%C3%A4mpfungsventil%3A%3A%7D> <http://example.org/datatypeProperty/type> "Country" <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/country/%7B%3A%3AHeiz%C3%B6lr%C3%BCcksto%C3%9Fabd%C3%A4mpfungsventil%3A%3A%7D> <http://www.w3.org/2000/01/rdf-schema#label> "{::Heizölrückstoßabdämpfungsventil::}" <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/country/%7B%3A%3AHeiz%C3%B6lr%C3%BCcksto%C3%9Fabd%C3%A4mpfungsventil%3A%3A%7D> <http://example.org/datatypeProperty/code> "{::Heizölrückstoßabdämpfungsventil::}" <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/country/%7B%3A%3AHeiz%C3%B6lr%C3%BCcksto%C3%9Fabd%C3%A4mpfungsventil%3A%3A%7D> <http://example.org/datatypeProperty/color> "blue" <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/2> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://example.org/class/City> <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/2> <http://example.org/datatypeProperty/type> "City" <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/2> <http://example.org/datatypeProperty/code> "B" <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/2> <http://example.org/datatypeProperty/color> "green" <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/country/C> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://example.org/class/Country> <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/country/C> <http://example.org/datatypeProperty/type> "Country" <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/country/C> <http://www.w3.org/2000/01/rdf-schema#label> "C" <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/country/C> <http://example.org/datatypeProperty/code> "C" <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/country/C> <http://example.org/datatypeProperty/color> "red" <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/country/D> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://example.org/class/Country> <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/country/D> <http://example.org/datatypeProperty/type> "Country" <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/country/D> <http://www.w3.org/2000/01/rdf-schema#label> "D" <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/country/D> <http://example.org/datatypeProperty/code> "D" <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
<http://example.org/resource/country/D> <http://example.org/datatypeProperty/color> "black" <http://aws.amazon.com/neptune/vocab/v01/DefaultNamedGraph> .
