<vertex:2> <edge:knows> <vertex:3> <vertex:1> .
<vertex:1> <eproperty:since> "yesterday" <dng:/> .
<vertex:2> <edge:knows> <vertex:3> <vertex:1> .
<vertex:1> <eproperty:since> "tomorrow" <dng:/> .
<vertex:2> <edge:knows> <vertex:3> <vertex:1> .
<vertex:1> <eproperty:personally> "true" <dng:/> .
